#exhibition-text {
  color: grey !important;
  border-bottom: 1px solid #FF0000;
  margin-bottom: 32px;
  padding-bottom: 32px;
}

.masonry-grid {
  width: 100%;
}

.grid-item {
  width: 28%; margin: 0 16px 16px 0;
}
