// Specific CSS for your home-page
.fullscreen-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: sticky;
  top: 0;
}

// .home-image {
//   background-image: url(https://pbs.twimg.com/media/CwJtpLrUMAAIc_N.jpg);
// }

.text-center {
  justify-content: center;
  align-items: center;
  margin-top: -16px;
}

h1.homepage-text {
  font-size: 20vw !important;
  font-weight: bold;
}

.text-stroke {
  -webkit-text-stroke: 1px $brand;
  color: white;
  // background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(255,255,255,1) 52%);
}

#brenda-shadow {
  position: absolute;
  margin-top: -64px;
}

@media screen and (max-width: 1000px){
  #brenda-shadow {
    margin-top: -38px;
  }
}

@media screen and (max-width: 600px){
  #brenda-shadow {
    margin-top: -27px;
  }
}
