<div class="container-main margin-from-navbar">

  <div class="article-top">
    <div class="article-header">

      <div class="header-info">
        <p class="header-author">ANTOINE CHAMPENOIS</p>
        <p class="header-date">10 March 2021</p>
      </div>

      <div class="header-title">
        <h1><%= @article.title %></h1>
        <p style="color: grey;"><%= @article.tagline %></p>
      </div>

    </div>

    <img src="https://source.unsplash.com/random" alt="">

  </div>


    <p style="color: grey;"><%= @article.body %></p>
</div>

