<div class="navbar navbar-expand-sm navbar-light navbar-main px-3">
  <%= link_to "/", class: "navbar-brand text-bold" do %>
    BRENDA
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "WORK", work_path, class: "nav-link text-bold" %>
        <span class="align-item-center">•</span>
        <%= link_to "ABOUT", new_user_session_path, class: "nav-link text-bold" %>
      </li>
    </ul>
  </div>
</div>
