<div class="fullscreen-container text-center homepage-text">
  <h1 class="homepage-text" id="brenda-btn">
    <span>B</span><span>R</span><span>E</span><span>N</span><span>D</span><span>A</span></h1>
  <h1 class="homepage-text text-stroke" style="position: absolute; margin-top: -64px;">BRENDA</h1>
</div>

<!-- <script>
  WIP
  const test = document.querySelectorAll("#brenda-btn span");
  // console.log(test)
  test.forEach((item) => {
    console.log(item)
  item.addEventListener("click", (event) => {
    console.log("works")
    })
  })
</script> -->
