.navbar-main {
  justify-content: space-between;
  background-color: white !important;
  position: sticky;
  top: 0;
  border-bottom: 1px solid $brand;
  z-index: 100;
}

.navbar-main .navbar-collapse {
  flex-grow: 0;
}

.text-bold {
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(black, 0.1);
}

// .navbar-main .navbar-brand img {
//   width: 40px;
// }
.navbar-brand {
  color: $brand !important;
}

.nav-link {
  color: $brand !important;
}

.nav-item {
  display: flex;
  align-items: center;
  color: $brand !important;
}
