// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  color: $brand;
  background-color: white;
}

.container-main {
  width: 90vw;
  margin: 0 auto;
}

.margin-from-navbar {
  margin-top: 32px;
}

a, a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: $brand;
}

a:hover {
  text-decoration: none;
  color: $brand;
  opacity: 0.5;
}
